@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700&&family=Roboto+Slab:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto;
  background-color: rgb(255, 255, 255);
  font-style: normal;
}

button {
  cursor: pointer;
}

.custom_container {
  width: 1140px;
  margin: 0px auto;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  letter-spacing: -0.0144em;
  background: linear-gradient(180deg, #444444 0%, #1C6F9D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.subTitle {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 25px;
  color: rgb(0, 0, 0);
}

.py-96 {
  padding-top: 96px !important;
  padding-bottom: 96px !important;
}

.pb-96 {
  padding-bottom: 96px !important;
}

.pt-96 {
  padding-top: 96px !important;
}

.cta {
  width: 100%;
  min-height: 138px;
  background: url("../../img/ctaBG.png") center center / cover no-repeat;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 76px;
}

.cta .content {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta .content p {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: justify;
  color: rgb(250, 250, 250);
}

.cta_second .content {
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.ctaArea .cta.cta_second {
  padding: 64px 0px;
  background: url("../img/ctaSecondBG.png") center center / cover no-repeat;
  border-radius: 0px;
  margin-top: 96px;
}

.cta_second .content p {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 73px;
  text-align: center;
  text-shadow: rgb(255, 255, 255) 0px 0px 12px;
}

.ctaBtn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.0218em;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 13px 48px;
  transition: all 0.2s ease-in-out 0s;
  border: none;
  background-color: rgb(91, 188, 46);
}

.ctaBtn:hover {
  box-shadow: rgb(91, 188, 46) 0px 0px 20px;
}

.lg-none {
  display: none !important;
}

.sm-none {
  display: block !important;
}

#instructors-carousel .owl-dots .owl-dot.active span,
#certification-carousel .owl-dots .owl-dot.active span,
.weekly_content .owl-carousel .owl-dots .owl-dot.active span,
#cybersecurity_enthusiasts_slide .owl-dots .owl-dot.active span {
  background: linear-gradient(rgb(0, 0, 0) 0%, rgb(28, 111, 157) 100%);
}

.timerBottomStickyBar {
  width: 100%;
  height: 85px;
  background: linear-gradient(90.51deg, rgb(0 0 0) 37.59%, rgb(28 111 157) 50.69%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px -1.48809px 8.92857px;
  /* backdrop-filter: blur(4.46428px); */
  position: fixed;
  bottom: -100%;
  z-index: 999;
  transition: all 0.5s cubic-bezier(0.48, -0.19, 0, 0.98) 0s;
}

.timerBottomStickyBar .custom_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.timerBottomStickyBar p {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: rgb(250, 250, 250);
  text-shadow: rgba(0, 0, 0, 0.58) 4px 4px 4px;
  width: 417px;
  text-align: center;
}

.timer .num {
  padding: 12px 17px;
  gap: 10px;
  width: 60px;
  height: 60px;
  background: rgb(250, 250, 250);
  border-radius: 5px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.timer .num span {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.0218em;
  background: linear-gradient(rgb(24, 47, 89) 0%, rgb(0, 0, 0) 100%) text;
  -webkit-text-fill-color: transparent;
}

.timer .text-sm {
  line-height: initial;
}

.timerBottomStickyBar .w-\[60px\] {
  width: 50px !important;
}

.timerBottomStickyBar .h-\[30px\] {
  height: 25px !important;
}

.timerBottomStickyBar .number_c {
  font-size: 30px;
}

.timerBottomStickyBar .translate-y-\[20px\] {
  --tw-translate-y: 18px;
}

.timerBottomStickyBar .-translate-y-\[11px\] {
  --tw-translate-y: -7px;
}

@media only screen and (max-width: 768px) {
  .title {
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
  }

  .custom_container {
    width: 100%;
    padding: 0px 16px;
    overflow: hidden;
  }

  .sm-none {
    display: none !important;
  }

  .lg-none {
    display: block !important;
  }

  .pt-96 {
    padding-top: 32px !important;
  }

  .pb-96 {
    padding-bottom: 32px !important;
  }

  .cta .content {
    flex-direction: column;
    gap: 0px;
  }

  .ctaArea .custom_container {
    padding: 0px;
  }

  .ctaArea .cta {
    border-radius: 0px;
    min-height: 158px;
  }

  .ctaArea .cta .content p {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 24px;
  }

  .ctaArea .cta {
    background: url("../../img/ctaBG2.png") center center / cover no-repeat;
    margin-top: 32px;
  }

  .ctaArea .cta.cta_second {
    padding: 20px 0px;
    margin-top: 32px;
  }

  .ctaArea .cta.cta_second .content p {
    font-size: 23px;
    line-height: 36px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .subTitle {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 12px;
  }

  .ctaBtn {
    font-size: 14px;
    line-height: 24px;
    padding: 9px 42px;
  }

  .timer .num {
    width: 40px;
    height: 40px;
    padding: 8px 7px;
  }

  .timer .num span {
    font-weight: 400;
    font-size: 25.2px;
    line-height: 25px;
  }

  .timerBottomStickyBar {
    height: 60px;
  }

  .timerBottomStickyBar .w-\[60px\] {
    width: 30px !important;
  }

  .timerBottomStickyBar .h-\[30px\] {
    height: 15px !important;
  }

  .timerBottomStickyBar .number_c {
    font-size: 14px;
    line-height: 16px;
  }

  .timerBottomStickyBar .translate-y-\[20px\] {
    --tw-translate-y: 9px;
  }

  .timerBottomStickyBar .-translate-y-\[11px\] {
    --tw-translate-y: -6px;
  }

  .timerBottomStickyBar .gap-\[17px\] {
    gap: 5px;
  }

  .timerBottomStickyBar .text-sm {
    line-height: 8px;
    font-size: 6px !important;
  }

  .timerBottomStickyBar p {
    display: none;
  }

  .timerBottomStickyBar .custom_container {
    column-gap: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .timerBottomStickyBar .ctaBtn {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 20px;
  }
}