@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700&&family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

/* universal css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto';
  background-color: #FFFFFF;
  font-style: normal;
}

button {
  cursor: pointer;
}

.custom_container {
  width: 1140px;
  margin: 0 auto;
}

.title {
  font-family: 'Roboto Slab';
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  letter-spacing: -0.0144em;
  color: #000000;
}

.subTitle {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 25px;
  color: #000000;
}

.py-96 {
  padding-top: 96px !important;
  padding-bottom: 96px !important;
}

.pb-96 {
  padding-bottom: 96px !important;
}

.pt-96 {
  padding-top: 96px !important;
}

.cta {
  width: 100%;
  min-height: 138px;
  background: url(../../img/ctaBG.png) no-repeat center center / cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 76px;
}

.cta .content {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta .content p {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: justify;
  color: #FAFAFA;
}

.cta_second .content {
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;

}

.ctaArea .cta.cta_second {
  padding: 64px 0;
  background: url(../img/ctaSecondBG.png) no-repeat center center / cover;
  border-radius: 0;
  margin-top: 96px;
}

.cta_second .content p {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 73px;
  text-shadow: 0px 0px 12px #FFFFFF;
}

.ctaBtn {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.0218em;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 13px 48px;
  transition: all 0.2s ease-in-out;
  border: none;
  background-color: #5BBC2E;
}

.ctaBtn:hover {
  box-shadow: 0px 0px 20px #5BBC2E;
}

.lg-none {
  display: none !important;
}

.sm-none {
  display: block !important;
}

#instructors-carousel .owl-dots .owl-dot.active span,
#certification-carousel .owl-dots .owl-dot.active span,
.weekly_content .owl-carousel .owl-dots .owl-dot.active span,
#cybersecurity_enthusiasts_slide .owl-dots .owl-dot.active span {
  background: linear-gradient(180deg, #000000 0%, #1C6F9D 100%);
}

.timerBottomStickyBar {
  width: 100%;
  height: 85px;
  background: linear-gradient(180deg, #1C6F9D 0%, #000000 100%);
  position: fixed;
  bottom: -100%;
  z-index: 999;
  transition: all 0.5s cubic-bezier(0.48, -0.19, 0, 0.98);
}

.timerBottomStickyBar .custom_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.timerBottomStickyBar p {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #FAFAFA;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.58);
  width: 417px;
  text-align: center;
}

.timer .num {
  padding: 12px 17px;
  gap: 10px;
  width: 60px;
  height: 60px;
  background: #FAFAFA;
  border-radius: 5px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.timer .num span {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.0218em;
  background: linear-gradient(180deg, #182F59 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.timer .text-sm {
  line-height: initial;
}

.timerBottomStickyBar .w-\[60px\] {
  width: 50px !important;
}

.timerBottomStickyBar .h-\[30px\] {
  height: 25px !important;
}

.timerBottomStickyBar .number_c {
  font-size: 30px;
}

.timerBottomStickyBar .translate-y-\[20px\] {
  --tw-translate-y: 18px;
}

.timerBottomStickyBar .-translate-y-\[11px\] {
  --tw-translate-y: -7px;
}

@media only screen and (max-width: 768px) {
  .title {
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
  }

  .custom_container {
    width: 100%;
    padding: 0 16px;
    overflow: hidden;
  }

  .sm-none {
    display: none !important;
  }

  .lg-none {
    display: block !important;
  }

  .pt-96 {
    padding-top: 32px !important;
  }

  .pb-96 {
    padding-bottom: 32px !important;
  }

  .cta .content {
    flex-direction: column;
    gap: 0;
  }

  .ctaArea .custom_container {
    padding: 0;
  }

  .ctaArea .cta {
    border-radius: 0;
    min-height: 158px;
  }

  .ctaArea .cta .content p {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 24px;
  }

  .ctaArea .cta {
    background: url(../../img/ctaBG2.png) no-repeat center center / cover;
    margin-top: 32px;
  }

  .ctaArea .cta.cta_second {
    padding: 20px 0;
  }

  .ctaArea .cta.cta_second .content p {
    font-size: 25px;
    line-height: 36px;
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
  }

  .subTitle {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 12px;
  }

  .ctaBtn {
    font-size: 14px;
    line-height: 24px;
    padding: 9px 42px;
  }

  .timer .num {
    width: 40px;
    height: 40px;
    padding: 8px 7px;
  }

  .timer .num span {
    font-weight: 400;
    font-size: 25.2px;
    line-height: 25px;
  }

  .timerBottomStickyBar .w-\[60px\] {
    width: 30px !important;
  }

  .timerBottomStickyBar .h-\[30px\] {
    height: 15px !important;
  }

  .timerBottomStickyBar .number_c {
    font-size: 14px;
    line-height: 16px;
  }

  .timerBottomStickyBar .translate-y-\[20px\] {
    --tw-translate-y: 9px;
  }

  .timerBottomStickyBar .-translate-y-\[11px\] {
    --tw-translate-y: -6px;
  }

  .timerBottomStickyBar .gap-\[17px\] {
    gap: 5px;
  }

  .timerBottomStickyBar .text-sm {
    font-size: 6px !important;
    line-height: 8px;
  }

  .timerBottomStickyBar p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    width: 50%;
  }

  .timerBottomStickyBar .custom_container {
    column-gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .timerBottomStickyBar .ctaBtn {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 35px;
  }
}