@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&&family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

/* universal css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto';
  background-color: #FFFFFF;
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

.title {
  font-family: 'Roboto Slab';
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  letter-spacing: -0.0144em;
  color: #000000;
}

.py-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.pb-96 {
  padding-bottom: 96px;
}

.cta {
  width: 100%;
  min-height: 138px;
  background: url(../../img/ctaBG.png) no-repeat center center / cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 76px;
}

.cta .content {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta .content p {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: justify;
  color: #FAFAFA;
}

.cta_second .content {
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;

}

.cta_second {
  padding: 64px 0;
  background: url(../img/ctaSecondBG.png) no-repeat center center / cover;
  border-radius: 0;
}

.cta_second .content p {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 73px;
  text-shadow: 0px 0px 30px #FFFFFF;
}

.ctaBtn {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.0218em;
  color: #182F59;
  border-radius: 8px;
  padding: 13px 48px;
  transition: all 0.2s ease-in-out;
  border: none;
}

.ctaBtn:hover {
  box-shadow: 0px 0px 30px #5FD2FB;
}