.cybersecurity_enthusiasts {
  position: relative;
}

.cybersecurity_enthusiasts .c_bg {
  position: absolute;
  top: 9%;
  right: 10%;
  z-index: -2;
}

.cybersecurity_enthusiasts .left {
  width: 681px;
}

.cybersecurity_enthusiasts .imgArea {
  position: relative;
  min-height: 360px;
  margin-bottom: 16px;
}

.cybersecurity_enthusiasts .imgArea .s_img0 {
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.cybersecurity_enthusiasts .imgArea .s_img1 {
  position: absolute;
  transition: all 0.3s ease-in-out;
  /* top: 0;
  left: 0;
  opacity: 0.3;
  border-radius: 12px;
  width: 232px;
  z-index: -1; */
}

.cybersecurity_enthusiasts .imgArea .s_img2 {
  position: absolute;
  transition: all 0.3s ease-in-out;
  /* top: 0;
  left: 60%;
  opacity: 0.3;
  border-radius: 12px;
  width: 232px;
  z-index: -1; */
}

.cybersecurity_enthusiasts .right p {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 93px;
  /* background: linear-gradient(180deg, #4FC7ED 4.17%, #77DDFF 18.75%, #5FD4FF 51.04%, #62CEFF 73.96%, #52C1FF 100%); */
  background: linear-gradient(180deg, #182F59 0%, #000000 100%);
  letter-spacing: -0.0144em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  letter-spacing: 2px;
}

.cybersecurity_enthusiasts .right p span.active {
  background: linear-gradient(180deg, #4FC7ED 4.17%, #77DDFF 18.75%, #5FD4FF 51.04%, #62CEFF 73.96%, #52C1FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cybersecurity_enthusiasts .custom_container {
  display: flex;
  align-items: center;
  gap: 90px;
}

.cybersecurity_enthusiasts .slide {
  position: relative;
}

.cybersecurity_enthusiasts .arrowI {
  position: absolute;
  bottom: 75px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

#cybersecurity_enthusiasts_slide .item h3 {
  font-weight: 500;
  font-size: 26px;
  line-height: 48px;
  letter-spacing: 0.06em;
  color: #212529;
  margin-bottom: 22px;
}

#cybersecurity_enthusiasts_slide .item li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
}

#cybersecurity_enthusiasts_slide .item ul {
  margin-left: 38px;
}

#cybersecurity_enthusiasts_slide .item li:not(:last-child) {
  margin-bottom: 24px;
}

.cybersecurity_enthusiasts .arrowI img {
  width: 20px;
  height: 20px;
}

.cybersecurity_enthusiasts .owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 48px;
}

@media only screen and (max-width: 768px) {
  .cybersecurity_enthusiasts .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 25px;
  }

  .cybersecurity_enthusiasts .custom_container {
    flex-direction: column-reverse;
    gap: 15px;
  }

  .cybersecurity_enthusiasts .right p {
    font-weight: 600;
    font-size: 52px;
    line-height: 69px;
    text-align: center;
  }

  .cybersecurity_enthusiasts .left,
  .cybersecurity_enthusiasts .right {
    width: 100%;
  }

  .cybersecurity_enthusiasts .imgArea {
    min-height: 200px;
  }

  #cybersecurity_enthusiasts_slide .item h3 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin-bottom: 8px;
  }

  #cybersecurity_enthusiasts_slide .item li {
    font-size: 12px;
    line-height: 18px;
  }

  #cybersecurity_enthusiasts_slide .item li:not(:last-child) {
    margin-bottom: 10px;
  }

  .cybersecurity_enthusiasts .arrowI {
    width: fit-content;
    bottom: 58px;
    gap: 26px;
  }

  #cybersecurity_enthusiasts_slide .item ul {
    margin-left: 32px;
  }

  .cybersecurity_enthusiasts .c_bg {
    width: 100%;
    right: 50%;
    top: 18%;
    transform: translate(50%, 0);
    opacity: .5;
  }
}