.demand {
  width: 100%;
  padding: 280px 0 225px 0;
  /* min-height: 1503px; */
  background: url(../../img/demandBG.png) no-repeat center center / cover;
}

.demand .title {
  color: #FAFAFA;
  margin-bottom: 50px;
}

.demand .subtitle {
  max-width: 913px;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FAFAFA;
}

.demand-cards {
  margin: 36px 0 72px 0;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}

.demand-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  z-index: 1;
}

.demand-card .card-img {
  width: 100px;
  height: 100px;
}

.demand-card .card-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  opacity: .08;
  z-index: -1;
}

.demand-card span {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.0218em;
  color: #FAFAFA;
}

.demand-card:nth-child(even) {
  padding-top: 43px;
}

.d_cta {
  width: 927px;
  height: 133px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #1C6F9D 100%);
  border-radius: 58.5px 10px;
  display: flex;
  gap: 28px;
  margin: 80px auto 0 auto;
  align-items: center;
  justify-content: center;
}

.d_cta P {
  font-family: 'Roboto Slab';
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #FAFAFA;
}

@media only screen and (max-width: 768px) {
  .demand {
    width: 100%;
    padding: 64px 0;
    /* min-height: 1503px; */
    background: url(../../img/demandBG2.png) no-repeat center center / cover;
  }

  .demand .title {
    text-align: start;
    margin: 20px 0 28px 0;
  }

  .demand .subtitle {
    font-size: 14px;
    line-height: 18px;
    text-align: start;
    padding: 10px;
  }

  .demand-cards {
    margin: 28px 0;
    display: grid;
    column-gap: 10px;
    row-gap: 38px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }

  .demand-card:nth-child(even) {
    padding-top: 0px;
  }

  .demand-card span {
    font-size: 16px;
    line-height: 24px;
    padding: 0 10px;
  }

  .demand-card .card-img {
    width: 80px;
    height: 80px;
  }

  .demand-card {
    gap: 8px;
  }

  .demand-card .card-bg {
    top: -15px;
    width: 90%;
  }

  .demand .container:nth-child(2) {
    padding: 0;
  }

  .d_cta {
    width: 100%;
    flex-direction: column;
    margin: 28px auto 0 auto;
    gap: 10px;
  }

  .d_cta P {
    font-size: 14px;
    line-height: 18px;
    padding: 0 20px;
    text-align: center;
  }
}