.duration {
  height: fit-content;
}

.duration .custom_container {
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 148px;
  position: relative;
}

.duration .custom_container .asBg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.duration .custom_container .asBg.vector1 {
  top: 72%;
  left: 34%;
  z-index: -1;
}

.duration .custom_container .asBg.vector2 {
  top: 6%;
  left: 53%;
  z-index: -1;
  transform: rotate(180deg);
}



@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.duration .content_one {
  height: 100%;
  width: fit-content;
  animation: slideInFromLeft 1s ease-in-out;
}

.duration .content_two {
  height: 100%;
  width: fit-content;
  margin-left: auto;
  /* animation on scroll */
  animation: slideInFromRight 1s ease-in-out;
}

.duration .content_two .content {
  text-align: end;
  height: fit-content;
}

.duration .content_two .title {
  text-align: end;
}

.duration .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.duration .title {
  text-align: start;
}

.duration .content span {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #212529;
}

.duration .content p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
}

@media only screen and (max-width: 768px) {
  .duration {
    height: fit-content;
  }

  .duration .custom_container .asBg {
    width: 235px;
  }

  .duration .custom_container .asBg.vector1 {
    width: 162px;
    top: 61%;
    left: 25%;
  }

  .duration .custom_container .asBg.vector2 {
    width: 162px;
    top: 24%;
  }

  .duration .custom_container {
    gap: 285px;
    align-items: center;
  }

  .duration .title,
  .duration .content_one .content,
  .duration .content_two .content,
  .duration .content_two .title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .duration .content_two {
    margin-left: 0;

  }

  .duration .content span {
    font-size: 14px;
    line-height: 18px;
  }

  .duration .content p {
    font-size: 12px;
    line-height: 18px;
  }
}