header {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 105px;
  /* position: sticky;
  top: 0; */
  z-index: 999;
}

.nav {
  display: flex;
  align-items: center;
}

.nav .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav .logoArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav .logoArea .tagLine {
  font-weight: 300;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #000000;
  font-stretch: 100;
}

.nav .actionBtn {
  /* background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(180deg, #000000 0%, #1C6F9D 100%) border-box; */
  background: #5BBC2E;
  /* color: #313149; */
  border: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 16px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
  padding: 13px 16px;
  border-radius: 10px;
  width: fit-content;
  height: 48px;
  transition: all 0.2s ease-in-out;
}

.nav .actionBtn:hover {
  box-shadow: 0px 0px 30px #5FD2FB;
}

.nav .actionBtn span {
  font-weight: 700;
  white-space: nowrap;
  /* text-transform: capitalize;
  letter-spacing: -0.0218em;
  background: linear-gradient(180deg, #000000 0%, #1C6F9D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; */
  color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
  header {
    height: 74px;
  }

  .nav .logoArea img {
    width: 75px;
  }

  .nav .logoArea .tagLine {
    font-size: 10px;
  }

  .nav .actionBtn {
    width: 120px;
    height: 38px;
    padding: 0;
    justify-content: center;
    gap: 4.5px;
  }

  .nav .actionBtn img {
    width: 18px;
  }

  .nav .actionBtn span {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }
}