.instructorsSlider {
  min-height: 832px;
  color: #FAFAFA;
}

.instructorsSlider .title {
  color: #FAFAFA;
  padding-top: 35px;
}

.instructorsSlider .owl-carousel2 {
  width: 100%;
}

.instructorsSlider .custom_container {
  position: relative;
}

.instructorsSlider .custom_container .bg {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, 0);
}

.instructor_slider .title {
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  letter-spacing: -0.0144em;
  color: #FAFAFA;
  text-align: center;
}

.instructor_slider .content {
  display: flex;
  justify-content: space-between;
}

.instructor_slider .left {
  width: 390px;
}

.instructor_slider .right {
  width: 587px;
}

#instructors-carousel .right h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -0.0218em;
  color: #FAFAFA;
  margin: 10px 0;
}

#instructors-carousel .c_name {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #FAFAFA;
  margin: 7px 0;
  padding: 4px 10px;
}

#instructors-carousel .c_time p {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -0.0218em;
  text-align: center;
  color: #212529;
  padding: 5px 10px;
  width: 180px;
  height: 46px;
  background: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  column-gap: 4px;
}

#instructors-carousel .c_time {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

#instructors-carousel .c_time p:nth-child(1) {
  border-radius: 0px 0px 15px 0px;
}

#instructors-carousel .c_time p:nth-child(2) {
  border-radius: 0px 0px 0px 15px;
}

#instructors-carousel .c_time p:nth-child(3) {
  border-radius: 0px 15px 0px 0px;
}

#instructors-carousel .c_time p:nth-child(4) {
  border-radius: 15px 0px 0px 0px;
}

#instructors-carousel .mainImg {
  width: 297px;
  height: 367px;
  margin: auto;
}

#instructors-carousel .info_ .star {
  width: 24px;
  height: 24px;
}

#instructors-carousel .info_ .arrow {
  width: 19px;
}

#instructors-carousel .info_ span {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FAFAFA;
}

#instructors-carousel .info_ li {
  display: flex;
  gap: 10px;
}

#instructors-carousel .info_q li::before {
  content: url(../../img/arrow.png);
}

#instructors-carousel .info_a li::before {
  content: url(../../img/star.png);
}

#instructors-carousel .info p {
  width: fit-content;
  padding: 10px;
  background: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 38px;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
}

#instructors-carousel .info_tag {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

#instructors-carousel .info_ li:not(:last-child) {
  margin-bottom: 8px;
}

#instructors-carousel .item .content {
  display: flex;
  column-gap: 60px;
  align-items: flex-start;
  height: 100%;
}

#instructors-carousel .item {
  position: relative;
  padding: 50px 40px 100px 40px;
}

#instructors-carousel .item .carousel_item_bg {
  position: absolute;
  top: 11px;
  left: 13px;
  width: 97%;
  z-index: -1;
}

#instructors-carousel .owl-nav.disabled+.owl-dots {
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  .instructorsSlider {
    min-height: 640px;
  }

  .instructorsSlider .title {
    padding-top: 0;
    position: absolute;
    left: 181px;
    width: 155px;
    top: 50px;
  }

  .instructorsSlider .custom_container .bg {
    position: absolute;
    top: 0;
    left: 190px;
    z-index: -1;
  }

  #instructors-carousel .left,
  #instructors-carousel .right {
    width: 100%;
  }

  #instructors-carousel .mainImg {
    width: 150px;
    height: fit-content;
    margin: 20px 0 0 1px;
    position: absolute;
    top: -77%;
  }

  #instructors-carousel .item {
    height: 320px;
    padding: 0;
    position: relative;
  }

  #instructors-carousel .c_time {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 16px;
    padding: 0;
  }

  #instructors-carousel .c_name {
    font-size: 16px;
    line-height: 36px;
    letter-spacing: -0.0218em;
    color: #212529;
    position: absolute;
    margin: 0;
    top: -14%;
    left: 5%;
  }

  #instructors-carousel .c_time p {
    flex-direction: column-reverse;
    width: fit-content;
    height: fit-content;
    box-shadow: none;
    padding: 0;
    gap: 4px;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    background: transparent;
  }

  #instructors-carousel .c_time p span:nth-child(3) {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 18px;
    color: #212529;
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(229deg, #000000 0%, #1C6F9D 100%) border-box;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  #instructors-carousel .item .content {
    flex-direction: column;
    column-gap: 0;
    overflow-y: scroll;
    height: 300px;
    margin-top: 245px;
    padding: 0 10px 0 14px;
  }

  #instructors-carousel .info p {
    font-size: 12px;
    line-height: 18px;
    padding: 5px 15px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    color: #212529;
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(180deg, #000000 0%, #1C6F9D 100%) border-box;
    border: 1px solid transparent;
  }

  #instructors-carousel .info_tag {
    gap: 5px;
  }

  #instructors-carousel .right h5 {
    font-size: 16px;
    line-height: 36px;
    color: #212529;
  }

  #instructors-carousel .info_q li::before {
    content: url(../../img/arrow_b.png);
  }

  #instructors-carousel .info_a li::before {
    content: url(../../img/star_b.png);
  }

  #instructors-carousel .info_ span {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #212529;
  }

  #instructors-carousel .info_ li {
    align-items: center;
  }

  #instructors-carousel .item .carousel_item_bg {
    top: -73%;
    left: 0%;
    height: 550px;
  }

  #instructors-carousel .item .content::-webkit-scrollbar-track {
    background-color: #CACFD3;
    border-radius: 12px;
  }

  #instructors-carousel .item .content::-webkit-scrollbar {
    width: 10px;
    height: 100px;
  }

  #instructors-carousel .item .content::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: linear-gradient(#CACFD3, #CACFD3) padding-box,
      linear-gradient(180deg, #000000 0%, #1C6F9D 100%) border-box;
    ;
    border: 2px solid transparent;
  }
}