.mediaSlide {
  height: 121px;
  overflow: hidden;
}

.mediaSlide .custom_container {
  display: flex;
  align-items: center;
  gap: 42px;
}

.mediaSlide .title {
  position: relative;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #212529;
  width: 183px;
}

.mediaSlide .title::after {
  right: -21px;
  content: url(../../img/media/Line.png);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.mediaSlide .owl-carousel {
  width: 887px;
}

.mediaSlide .owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .mediaSlide {
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #media-carousel .owl-dots {
    display: none !important;
  }

  .mediaSlide .custom_container {
    gap: 10px;
  }

  .mediaSlide .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    width: 117px;
  }

  .mediaSlide .owl-carousel {
    width: calc(100% - 127px);
  }

  .mediaSlide .title::after {
    display: none;
  }

  .mediaSlide .item svg {
    width: 100%;
  }
}