<section class="certification">
  <div class="custom_container">
    <h1 class="title">Become CCSP Certified Today !</h1>
    <div class="points">
      <div class="point">
        <div class="pBG"></div>
        <div class="content">
          <h4 class="p_title">Better job opportunities</h4>
          <p>Cybersecurity is a growing industry, and organizations are always searching for qualified candidates to
            fill
            cybersecurity roles. A CCSP certification will help you stand out from the crowd and increase your chances
            of
            landing a cybersecurity job.</p>
        </div>
      </div>
      <div class="point">
        <div class="pBG"></div>
        <div class="content">
          <h4 class="p_title">Higher salary potential</h4>
          <p>The growing need for cybersecurity experts means that certified cybersecurity professionals can typically
            earn higher salaries than non-certified professionals. Employers are willing to pay more for individuals who
            have demonstrated their knowledge and skills through certifications.</p>
        </div>
      </div>
      <div class="point">
        <div class="pBG"></div>
        <div class="content">
          <h4 class="p_title">Career advancement</h4>
          <p>Achieving certifications can open doors for new opportunities within your organization. As you gain
            experience and expertise, you may even be eligible for higher-level cybersecurity roles or even leadership
            positions.</p>
        </div>
      </div>
      <div class="point">
        <div class="pBG"></div>
        <div class="content">
          <h4 class="p_title">Enhanced credibility</h4>
          <p>A certification is a third-party validation of your cybersecurity skills and knowledge. It demonstrates to
            your employers, colleagues, and clients that you have the necessary skills and qualifications to perform
            your job competently and professionally.</p>
        </div>
      </div>
      <div class="point">
        <div class="pBG"></div>
        <div class="content">
          <h4 class="p_title">Keeping up with industry standards</h4>
          <p>The cybersecurity landscape evolves constantly. Certifications require continuous education and training to
            maintain the certifications. This ensures that certified professionals stay up-to-date with the latest
            industry standards and best practices.</p>
        </div>
      </div>

    </div>
  </div>
</section>