<section class="duration">
  <div class="container">
    <div class="content_one">
      <div class="content">
        <h3>Duration</h3>
        <span>8 weeks [ 2 days/week ]</span>
        <p>Flexible access to resources<br />
          Watch recorded classes anytime</p>
      </div>
    </div>
    <div class="content_two">
      <div class="content">
        <h3>Method</h3>
        <span>Online Instructor-Led Training</span>
        <p>Suitable for remotely working employees or anyone <br />unable to attend the onsite training.</p>
      </div>
    </div>
    <img class="asBg" src="../img/d_group.png" alt="">
    <img class="asBg vector1" src="../img/GroupBg.png" alt="">
    <img class="asBg vector2" src="../img/GroupBg.png" alt="">
  </div>
</section>