<div class="hero">
  <div class="custom_container">
    <div class="content">
      <h6>Certified CyberSecurity Professional [CCSP]</h6>
      <h2>BECOME A <br>
        CYBERSECURITY LEADER <br>
        With TechForing CCSP Training
      </h2>
      <ul>
        <li><img src="../img/listIcon.png" alt=""><span>A wide range of cybersecurity topics</span></li>
        <li><img src="../img/listIcon.png" alt=""><span>Learn from leading industry experts</span></li>
        <li><img src="../img/listIcon.png" alt=""><span>Globally recognized certification program</span></li>
        <li><img src="../img/listIcon.png" alt=""><span>Work on high-level projects with major organizations</span></li>
        <li><img src="../img/listIcon.png" alt=""><span>Stand out in the job market as a cybersecurity expert</span>
        </li>
        <li><img src="../img/listIcon.png" alt=""><span>Increased earning potential</span></li>
      </ul>
      <div class="timeArea">
        <div class="t_custom_container">
          <div class="c_title"><span>Spot Left</span><span>Time Left</span></div>
          <div class="timer">
            <div>
              <span class="num"><span>50</span></span>
            </div>
            <div class="countdown">
              <span class="num"><span>23</span></span><small>:</small>
              <span class="num"><span>44</span></span><small>:</small>
              <span class="num"><span>55</span></span>
            </div>
          </div>
          <div class="t_tag">
            <span>Join our exclusive demo class !<br />DON’T MISS OUT</span>
          </div>
        </div>
        <img src="../img/tbg.png" alt="" class="tbg tbg1">
        <img src="../img/tbg2.png" alt="" class="tbg tbg2">
        <img src="../img/tbg3.png" alt="" class="tbg tbg3">
      </div>
    </div>
    <div class="formArea">
      <h1 style="color: aliceblue;">form here</h1>
    </div>
  </div>
</div>