<section class="instructorsSlider pb-96">
  <div class="container">
    <h1 class="title">Our Instructors</h1>
    <div id="instructors-carousel" class="owl-carousel owl-theme">
      <div class="item">
        <div class="content">
          <div class="left">
            <div class="mainImg">
              <img src="../img/i_s_1.png" alt="">
            </div>
            <h3 class="c_name">Alex Ferguson</h3>
            <div class="c_time">
              <span>Total Course : 4</span>
              <span>Total batch : 4</span>
              <span>Total Hours : 120</span>
              <span>Rating : 4.5</span>
            </div>
          </div>
          <div class="right">
            <div class="info">
              <h5>Specialties</h5>
              <div class="info_tag">
                <p><span>Cyber Threat Intelligence (CTI)</span></p>
                <p>
                  <span>Digital Forensics and Incident Response</span>
                </p>
                <p>
                  <span>Forensic Analyst</span>
                </p>
                <p>
                  <span>Information Security Analyst</span>
                </p>
              </div>
            </div>
            <div class="info_">
              <h5>Qualification</h5>
              <ul>
                <li><img class="arrow" src="../img/arrow.png" alt="" /> <span>Awarded EnergySec's 2015 Cyber Security
                    Professional of
                    the Year</span></li>
                <li><img class="arrow" src="../img/arrow.png" alt="" /> <span>Awarded EnergySec's 2015 Cyber Security
                    Professional of
                    the Year</span></li>
                <li><img class="arrow" src="../img/arrow.png" alt="" /> <span>Awarded EnergySec's 2015 Cyber Security
                    Professional of
                    the Year</span></li>
                <li><img class="arrow" src="../img/arrow.png" alt="" /> <span>Named one of Passcode's Influencers</span>
                </li>
              </ul>
            </div>
            <div class="info_">
              <h5>Awards and Honors</h5>
              <ul>
                <li><img class="star" src="../img/star.png" alt="" /> <span>2014: Colonel Sparky Baird Award, awarded by
                    AFCEA</span>
                </li>
                <li><img class="star" src="../img/star.png" alt="" /> <span>2013: Junior Officer (Operator Category) of
                    the Year -
                    Europe/Africa</span></li>
                <li><img class="star" src="../img/star.png" alt="" /> <span>2012: Distinguished Young AFCEAN Officer -
                    Central
                    Europe</span></li>
              </ul>
            </div>
          </div>
        </div>
        <img class="carousel_item_bg" src="../img/carousel_item_bg.png" alt="">
      </div>
      <div class="item">
        <div class="content">
          <div class="left">
            <div class="mainImg">
              <img src="../img/i_s_1.png" alt="">
            </div>
            <h3 class="c_name">Alex Ferguson</h3>
            <div class="c_time">
              <span>Total Course : 4</span>
              <span>Total batch : 4</span>
              <span>Total Hours : 120</span>
              <span>Rating : 4.5</span>
            </div>
          </div>
          <div class="right">
            <div class="info">
              <h5>Specialties</h5>
              <div class="info_tag">
                <p><span>Cyber Threat Intelligence (CTI)</span></p>
                <p>
                  <span>Digital Forensics and Incident Response</span>
                </p>
                <p>
                  <span>Forensic Analyst</span>
                </p>
                <p>
                  <span>Information Security Analyst</span>
                </p>
              </div>
            </div>
            <div class="info_">
              <h5>Qualification</h5>
              <ul>
                <li><img class="arrow" src="../img/arrow.png" alt="" /> <span>Awarded EnergySec's 2015 Cyber Security
                    Professional of
                    the Year</span></li>
                <li><img class="arrow" src="../img/arrow.png" alt="" /> <span>Awarded EnergySec's 2015 Cyber Security
                    Professional of
                    the Year</span></li>
                <li><img class="arrow" src="../img/arrow.png" alt="" /> <span>Awarded EnergySec's 2015 Cyber Security
                    Professional of
                    the Year</span></li>
                <li><img class="arrow" src="../img/arrow.png" alt="" /> <span>Named one of Passcode's Influencers</span>
                </li>
              </ul>
            </div>
            <div class="info_">
              <h5>Awards and Honors</h5>
              <ul>
                <li><img class="star" src="../img/star.png" alt="" /> <span>2014: Colonel Sparky Baird Award, awarded by
                    AFCEA</span>
                </li>
                <li><img class="star" src="../img/star.png" alt="" /> <span>2013: Junior Officer (Operator Category) of
                    the Year -
                    Europe/Africa</span></li>
                <li><img class="star" src="../img/star.png" alt="" /> <span>2012: Distinguished Young AFCEAN Officer -
                    Central
                    Europe</span></li>
              </ul>
            </div>
          </div>
        </div>
        <img class="carousel_item_bg" src="../img/carousel_item_bg.png" alt="">
      </div>
      <div class="item">
        <div class="content">
          <div class="left">
            <div class="mainImg">
              <img src="../img/i_s_1.png" alt="">
            </div>
            <h3 class="c_name">Alex Ferguson</h3>
            <div class="c_time">
              <span>Total Course : 4</span>
              <span>Total batch : 4</span>
              <span>Total Hours : 120</span>
              <span>Rating : 4.5</span>
            </div>
          </div>
          <div class="right">
            <div class="info">
              <h5>Specialties</h5>
              <div class="info_tag">
                <p><span>Cyber Threat Intelligence (CTI)</span></p>
                <p>
                  <span>Digital Forensics and Incident Response</span>
                </p>
                <p>
                  <span>Forensic Analyst</span>
                </p>
                <p>
                  <span>Information Security Analyst</span>
                </p>
              </div>
            </div>
            <div class="info_">
              <h5>Qualification</h5>
              <ul>
                <li><img class="arrow" src="../img/arrow.png" alt="" /> <span>Awarded EnergySec's 2015 Cyber Security
                    Professional of
                    the Year</span></li>
                <li><img class="arrow" src="../img/arrow.png" alt="" /> <span>Awarded EnergySec's 2015 Cyber Security
                    Professional of
                    the Year</span></li>
                <li><img class="arrow" src="../img/arrow.png" alt="" /> <span>Awarded EnergySec's 2015 Cyber Security
                    Professional of
                    the Year</span></li>
                <li><img class="arrow" src="../img/arrow.png" alt="" /> <span>Named one of Passcode's Influencers</span>
                </li>
              </ul>
            </div>
            <div class="info_">
              <h5>Awards and Honors</h5>
              <ul>
                <li><img class="star" src="../img/star.png" alt="" /> <span>2014: Colonel Sparky Baird Award, awarded by
                    AFCEA</span>
                </li>
                <li><img class="star" src="../img/star.png" alt="" /> <span>2013: Junior Officer (Operator Category) of
                    the Year -
                    Europe/Africa</span></li>
                <li><img class="star" src="../img/star.png" alt="" /> <span>2012: Distinguished Young AFCEAN Officer -
                    Central
                    Europe</span></li>
              </ul>
            </div>
          </div>
        </div>
        <img class="carousel_item_bg" src="../img/carousel_item_bg.png" alt="">
      </div>
    </div>
    <img class="bg" src="../img/instructor_bg.png" alt='' />
</section>