<section class="instructorsSlider">
  <div class="container">
    <div class="instructor_slider">
      <h1 class="title">Our Instructors</h1>
      <div class="item">
        <div class="content">
          <div class="left">
            <img src="../img/i_s_1.png" alt="">
            <h3>Alex Ferguson</h3>
            <div class="c_time">
              <span>Total Course : 4</span>
              <span>Total Course : 4</span>
              <span>Total Course : 4</span>
              <span>Total Course : 4</span>
            </div>
          </div>
          <div class="right">
            <div class="info">
              <h5>Specialties</h5>
              <p>
                <span>Cyber Threat Intelligence (CTI)</span>
                <span>Digital Forensics and Incident Response</span>
                <span>Forensic Analyst</span>
                <span>Information Security Analyst</span>
              </p>
            </div>
            <div class="info">
              <h5>Qualification</h5>
              <ul>
                <li><img src="../img/star.png" alt="" /> <span>Awarded EnergySec's 2015 Cyber Security Professional of
                    the Year</span></li>
                <li><img src="../img/star.png" alt="" /> <span>Awarded EnergySec's 2015 Cyber Security Professional of
                    the Year</span></li>
                <li><img src="../img/star.png" alt="" /> <span>Awarded EnergySec's 2015 Cyber Security Professional of
                    the Year</span></li>
                <li><img src="../img/star.png" alt="" /> <span>Named one of Passcode's Influencers</span></li>
              </ul>
            </div>
            <div class="info">
              <h5>Awards and Honors</h5>
              <ul>
                <li><img src="../img/star.png" alt="" /> <span>2014: Colonel Sparky Baird Award, awarded by AFCEA</span>
                </li>
                <li><img src="../img/star.png" alt="" /> <span>2013: Junior Officer (Operator Category) of the Year -
                    Europe/Africa</span></li>
                <li><img src="../img/star.png" alt="" /> <span>2012: Distinguished Young AFCEAN Officer - Central
                    Europe</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg1"></div>
    <img class="bg2" src="../img/instructor_bg2.png" alt='' />
  </div>
</section>