<div class="mediaSlide">
  <div class="container">
    <div class="title">You Might Know<br />Us From</div>
    <div class="owl-carousel">
      <div class="item"><img src="../img/media/Forbes svg.png" alt="Image 1"></div>
      <div class="item"><img src="../img/media/CNN svg.png" alt="Image 2"></div>
      <div class="item"><img src="../img/media/BBC svg.png" alt="Image 3"></div>
      <div class="item"><img src="../img/media/Frame 4135.png" alt="Image 3"></div>
      <div class="item"><img src="../img/media/Entrepreneur.com svg.png" alt="Image 3"></div>
    </div>
  </div>
</div>